﻿html,
body {
  height: 100%;
  padding: 5px 0;
  background: #eeeeee;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #eee;
  border-radius: 3px;
  height: 100%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 960px;
}
button:focus {
  outline: 0;
}
.form-control {
    height: 40px;
    width: 50%;
    border-bottom: 2px solid #d9d9d9;
}
.lr-container {
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
}
.background-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url('../../Content/login/images/bg-01.jpg');
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.login-container {
  width: 350px;
  max-height: 450px;
  height: 430px;
}
.login-container #profile-img {
  width: 96px;
  height: 96px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 20px auto;
}
.login-container .btn-signin {
  width: 100%;
  height: 36px;
  background: #5d8a9e;
  color: white;
  font-weight: bold;
}
.register-container {
  width: 350px;
  max-height: 600px;
}
.register-container .btn-register {
  width: 100%;
  height: 36px;
  background: #5d8a9e;
  color: white;
  font-weight: bold;
}
.register-container .avatar-container img {
  width: 64px;
  height: 64px;
}
.register-container input[type="radio"] {
  display: none;
}
.register-container input[type="radio"]:checked + img {
  border-radius: 25px;
  border: 2px solid #5dca38;
  padding: 1px;
}
.register-container img.avatar-icon {
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.validation-summary-errors ul {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}
.clearfix {
  clear: left;
}
.col-md-2 {
  padding: 0;
}
.col-md-7 {
  width: 61.3%;
}
.col-md-3 {
  width: 22%;
}
span {
  color: #ddd;
}
span:hover {
  color: #157cce;
}
.main-container {
  max-width: 1060px;
  height: 100%;
  background: white;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.main-container .left {
  background: #157cce;
  height: 100%;
  color: white;
}
.main-container .left a {
  color: #eee;
}
.main-container .left a:hover {
  text-decoration: none;
}
.main-container .left .header {
  height: 40px;
}
.main-container .left .header h5 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  text-indent: 10px;
  line-height: 40px;
  text-transform: uppercase;
  color: #eee;
}
.main-container .left .header #create-room {
  position: absolute;
  right: 15px;
  top: 8px;
}
.main-container .left .header #create-room span {
  font-size: 10px;
  font-weight: 200;
  color: #eee;
  border: 2px solid #eee;
  padding: 1px;
  width: 17px;
  height: 17px;
  border-radius: 9px;
  text-indent: 1px;
  line-height: 8px;
}
.main-container .left .header #create-room span:hover {
  color: white;
}
.main-container .left #room-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-container .left #room-list span {
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}
.main-container .left #room-list li {
  text-indent: 10px;
}
.main-container .left #room-list li a {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
}
.main-container .left #room-list li a:before {
  content: "#";
}
.main-container .left #room-list li a:hover {
  background: #8abde6;
}
.main-container .left #room-list li a.active,
.main-container .left #room-list div.active {
  background: #8abde6;
  text-decoration: none;
}
.main-container .left img.avatar-icon2 {
  width: 36px;
  height: 36px;
  border-radius: 22px;
  border: 2px solid white;
  padding: 1px;
}
.main-container .left .user {
  background: #1a6baa;
  padding: 0 5px;
  float: left;
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
}
.main-container .left .user-avatar {
  float: left;
  margin-right: 5px;
}
.main-container .left .user-name {
  float: left;
}
.main-container .left .user-name a {
  display: inline-block;
  max-width: 105px;
  white-space: nowrap;
  overflow: hidden !important;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 13px;
}
.main-container .left .user-signout {
  float: right;
  width: 18px;
}
.main-container .middle {
  margin: 0;
  padding: 0;
  height: 100%;
}
.main-container .middle .chat-header {
  height: 40px;
  border-bottom: 1px solid #eee;
}
.main-container .middle .chat-header h5 {
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-indent: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  font-family: "Trebuchet MS";
}
.main-container .middle .chat-header ul {
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-indent: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #555;
    font-family: "Trebuchet MS";
}
.main-container .middle .chat-header h5:before {
  content: "#";
}
.main-container .middle .chat-header .btnDeleteRoom {
  position: absolute;
  top: 12px;
  right: 8px;
  border: none;
  background: transparent;
  color: #AAA;
  font-size: 14px;
  font-weight: 400;
}
.main-container .middle .chat-header .btnDeleteRoom:hover {
  color: red;
}

.main-container .middle .chat-header .btnEditRoom {
    position: absolute;
    top: 12px;
    right: 8px;
    border: none;
    background: transparent;
    color: #AAA;
    font-size: 14px;
    font-weight: 400;
}

.btnRemoveStick {
    position: absolute;
    top: 12px;
    right: 8px;
    border: none;
    background: transparent;
    color: #AAA;
    font-size: 14px;
    font-weight: 400;
}

.main-container .middle .chat-header .btnEditRoom:hover {
    color: red;
}
.main-container .middle .chat-body {
  position: absolute;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 25px 0;
  top: 50px;
  bottom: 50px;
  background: white;
  float: left;
  overflow-y: scroll;
}
.main-container .middle .chat-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
.main-container .middle .chat-body ul li {
  float: left;
  width: 100%;
}
.main-container .middle .chat-body .chat-message {
  margin: 10px;
  min-width: 200px;
}
.main-container .middle .chat-body .chat-message .message-avatar {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
  border-radius: 21px;
}
.main-container .middle .chat-body .chat-message .message-content {
  background: #f5f5f5;
  padding: 3px 8px;
  border: 1px solid #eee;
  border-radius: 2px;
  color: #777;
  display: table-cell;
  min-width: 220px;
  max-width: 500px;
}
.main-container .middle .chat-body .chat-message .message-content span {
  color: #777;
}
.main-container .middle .chat-body .chat-message .message-content .author {
  color: #1a6baa;
  font-size: 12px;
  font-weight: bold;
}
.main-container .middle .chat-body .chat-message .message-content .content {
  display: block;
  padding: 2px 0;
}
.main-container .middle .chat-body .chat-message .message-content .timestamp {
  font-size: 10px;
  color: #999;
  float: right;
  line-height: 21px;
}
.main-container .middle .chat-body .ismine .left-side {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.main-container .middle .chat-body .ismine .message-content {
  float: right;
  background: #8abde6;
}
.main-container .middle .chat-body .ismine .message-content .author,
.main-container .middle .chat-body .ismine .message-content .timestamp,
.main-container .middle .chat-body .ismine .message-content .timestamp span,
.main-container .middle .chat-body .ismine .message-content .content {
  color: white;
}
.main-container .middle .chat-body .ismine .message-content span.timestamp {
  float: left;
}
.main-container .middle .chat-body .ismine .message-content span.author {
  float: right;
  padding-top: 2px;
}
.main-container .middle .chat-body .ismine .message-content span.content {
  clear: left;
}
.main-container .middle .chat-input {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  line-height: 50px;
  position: absolute;
  bottom: 0;
}
.main-container .middle .chat-input .glyphicon {
  position: absolute;
  right: 20px;
  line-height: 48px;
  color: #aaa;
  font-size: 18px;
}
.main-container .middle .chat-input .emoticon-container {
  width: 145px;
  background: white;
  height: 60px;
  border: 1px solid #ccc;
  position: absolute;
  right: 54px;
  bottom: 32px;
  padding: 5px 7px;
  line-height: 20px;
}
.main-container .middle .chat-input .emoticon-container a {
  float: left;
  height: 24px;
  margin-left: 4px;
}
.main-container .middle .chat-input .actions {
  position: absolute;
  right: 45px;
}
.main-container .middle .chat-input .actions img {
  margin: 0 2px;
}
.main-container .middle .chat-input input {
  float: left;
  width: 100%;
  height: 50px;
  border: none;
  text-indent: 10px;
  background: #f2f2f2;
}
.main-container .right {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.main-container .right .header {
  height: 40px;
}
.main-container .right .header h5 {
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-indent: 10px;
  font-size: 16px;
  color: #555;
  font-family: "Segoe UI";
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.main-container .right .header h5 span {
  color: #555;
}
.main-container .right .header h5 span:hover {
  text-decoration: none;
}
.main-container .right .chat-users {
  width: 100%;
  border-bottom: 1px solid #eee;
  position: absolute;
  top: 40px;
  bottom: 50px;
  overflow: hidden;
  overflow-y: scroll;
}
.main-container .right .chat-users #user-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main-container .right .chat-users #user-list li {
  float: left;
  width: 100%;
}
.main-container .right .chat-users .user-inner {
  float: left;
  padding: 8px 3px;
  width: 100%;
  cursor: pointer;
}
.main-container .right .chat-users .user-inner:hover {
  background: #eee;
}
.main-container .right .chat-users .user-inner .left-side {
  float: left;
  padding-left: 6px;
}
.main-container .right .chat-users .user-inner span {
  display: block;
  color: #555;
}
.main-container .right .chat-users .user-inner .right-side {
  float: left;
  margin-left: 5px;
  display: table-cell;
  line-height: 15px;
}
.main-container .right .chat-users .user-inner .right-side small {
  font-size: 12px;
  color: #777;
}
.main-container .right .chat-users .user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 17px;
}
.main-container .right .search-user {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-left: 1px solid #ccc;
}
.main-container .right .search-user input {
  border-radius: 0;
  border: none;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background: #f5f5f5;
  text-indent: 10px;
}
.better-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #F5F5F5;
}
.better-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
.better-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #8abde6;
}
#errorAlert {
  position: fixed;
  min-width: 300px;
  top: 0;
  left: 50%;
  width: 18em;
  margin-left: -9em;
  text-align: center;
}
#errorAlert p {
  font-size: 14px;
}
.emoji {
  width: 16px;
  height: 16px;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  cursor: pointer;
}
.post-image {
  max-width: 250px;
  max-height: 200px;
  background: white;
  border: 2px solid white;
}
.dot {
    height: 7px;
    width: 7px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
.stick-message{
    padding: 3px 8px;
    display: table-cell;
    min-width: 35px;
    max-width: 500px;
}
.stick {
    color: #157cce!important;
}
.ismine .stick-message{
    float: right;
}
.pinnedMess {
    position: absolute;
    z-index: 100;
    top: 40px;
    left: 0px;
    background: #ffffff;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #80808073;
    border-top: 1px solid #80808073;
    border-right: 1px solid #80808073;
    padding-left: 10px;
}
/*# sourceMappingURL=Site.css.map */