﻿@import url('https://fonts.googleapis.com/css?family=Heebo:300,900');


body {
    font-family: 'Heebo', sans-serif;
    background-color: antiquewhite;
}


//////required propaties from here//////
.ex1 {
    opacity: 0;
    span


{
    position: relative;
    top: 10px;
    left: 10px;
    opacity: 0;
    margin-left: 10px;
}

}

.ex2 {
    opacity: 0;
    span

{
    position: relative;
    left: -10px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

}
//if animation is unstable, try to use backface-visibility with vendor prefix.
