﻿@using Chat.Web.Models
@model RegisterViewModel

@{
    ViewBag.Title = "Prijavite se";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login stranica</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../Content/login/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <span class="login100-form-title p-b-49">
                    Registracija
                </span>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Novi nalog</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Username</span>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username" })

                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Lozinka</span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Lozinka" })

                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Potvrda Lozinke</span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Potvrdi lozinku" })

                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Prikaz imena</span>

                        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @placeholder = "Prikaz imena" })
                    </div>

                    @*<div class="form-group">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Avatar, new { @class = "form-control" })
                            </div>
                        </div>*@

                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Izaberite Avatar sliku</span><br />
                        <label>
                            @Html.RadioButtonFor(m => m.Avatar, "0", new { @checked = true })
                            <img class="avatar-icon" src="~/Content/icons/avatar1.png" alt="" />
                        </label>
                        <label>
                            @Html.RadioButtonFor(m => m.Avatar, "1")
                            <img class="avatar-icon" src="~/Content/icons/avatar2.png" alt="" />
                        </label>
                        <label>
                            @Html.RadioButtonFor(m => m.Avatar, "2")
                            <img class="avatar-icon" src="~/Content/icons/avatar3.png" alt="" />
                        </label>
                        <label>
                            @Html.RadioButtonFor(m => m.Avatar, "3")
                            <img class="avatar-icon" src="~/Content/icons/avatar4.png" alt="" />
                        </label>
                    </div>


                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Register
                            </button>
                        </div>
                    </div>
                }



                <br>

                @Html.ActionLink("Imate nalog?", "Login", "Account")

            </div>
        </div>
    </div>

</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

