﻿@{
    ViewBag.Title = "Početna stranica";
}
@using Chat.Web.Models
@model RegisterViewModel

@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/MyChat.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/textyle.min.js"></script>

}
<link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />

<link rel="stylesheet" type="text/css" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">

<link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">

<link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">

<link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animsition/css/animsition.min.css">

<link rel="stylesheet" type="text/css" href="~/Content/login/vendor/select2/select2.min.css">

<link rel="stylesheet" href="~/Content/textyle.css">

<link rel="stylesheet" type="text/css" href="~/Content/login/vendor/daterangepicker/daterangepicker.css">

<link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">



<link rel="stylesheet" href="~/Content/textyle.css">
<link rel="stylesheet" href="~/Content/body.css">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js" integrity="sha256-xH4q8N0pEzrZMaRmd7gQVcTZiFei+HfRTBPJ1OGXC0k=" crossorigin="anonymous"></script>


<div class="row main-container" style="border-radius:10px;">
    <div class="col-md-2 left" style="background-image: url('../../Content/login/images/bg-01.jpg');border-radius:10px 0px 0px 10px">
        <div class="header">
            <h5>Chat sobe</h5>
            <a href="#" id="create-room" data-toggle="modal" data-target="#create-room-modal"><span class="glyphicon glyphicon-plus"></span></a>

        </div>

        <div class="rooms">
            <div>
                <ul id="room-list" data-bind="foreach: chatRooms">
                    <li>
                        <a href="#" data-bind="text: $data.name, click: $parent.joinRoom.bind($parent, $data)"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="user" style="background-color: #AF77AE; border-radius: 0px 0px 0px 10px">
            <div class="user-avatar">
                <img class="avatar-icon2" src="~/Content/icons/avatar1.png" data-bind="attr: { src: myAvatar() }" />
            </div>
            <div class="user-name">
                <a href="#" id="vrednostImena" data-bind="text: myName"></a>

            </div>



            <div class="user-signout">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit() " title="Odjavi se"><span class="glyphicon glyphicon-log-out"></span></a>

                }
            </div>
        </div>
    </div>


    <div class="col-md-7 middle">
        <div class="chat-header">
            <h5 class="sakri">
                Dobrodošli <span id="myName" data-bind="text: myName" style="font-weight:bold;"></span>
            </h5>

            <h5 id="joinedRoom"></h5>


        </div>
        <div id="pinnedMess">
            <!-- ko if: pinnedMessages -->
            <!-- ko if: pinnedMessages.id -->
            <div class="pinnedMess">
                <p style="color: blue; font-weight: bold; margin-bottom: 0px;">Pinovane poruke</p>
                <!-- ko if: pinnedMessages.content() != null && pinnedMessages.content().indexOf('post-image') !== -1 -->
                <span data-bind="click: pointMessage(pinnedMessages.id)">Pinuj poruku</span>
                <!-- /ko -->
                <!-- ko if: pinnedMessages.content() != null && pinnedMessages.content().indexOf('post-image') === -1 -->
                <span id="pinnedMess" style="color: #000000;" data-bind="html: pinnedMessages.content, click: pointMessage(pinnedMessages.id)"></span>
                <!-- /ko -->
                <button data-bind="click: removeStickMessage" class="btnRemoveStick glyphicon glyphicon-remove"></button>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>


        <div class="chat-body better-scrollbar">

            <div class="block">
                <p class="ex1">Izaberi korisnika iz menija i startuj konverzaciju.</p>
            </div>

            <ul data-bind="foreach: chatMessages">

                <li>
                    <div class="chat-message" data-bind="css: $data.isMine() === true ? 'ismine' : 'isother'">
                        <div class="left-side">
                            <img src="~/Content/icons/avatar1.png" class="message-avatar" data-bind="attr: { src: $data.avatar }" />
                        </div>
                        <div class="message-content" data-bind="attr: { id: 'message-' + $data.id() }">
                            <span class="author" data-bind="text:$data.from"></span>
                            <span class="timestamp">
                                <i class="glyphicon glyphicon-time"></i>
                                <span></span>
                            </span>
                            <span class="content" data-bind="html:$data.content"></span>
                        </div>
                        <div class="stick-message">
                            <a href="#" data-bind="click: $parent.stickMess.bind($parent, $data)"><span class="glyphicon glyphicon-pushpin stick"></span></a>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
        <div class="chat-input">
            <i class="glyphicon glyphicon-send" data-bind="click: onClick"></i>
            <div class="actions">
                <label for="btnUpload" class="custom-file-upload">
                    <img src="~/Content/icons/photo1.png" alt="" />
                </label>
                <input type="hidden" id="userReceiverId" value="" />
                <input type="file" id="btnUpload" accept="image/*" name="files" />
                <a id="emojibtn" href="#"><img src="~/Content/icons/smile1.png" /></a>
            </div>
            <div class="emoticon-container hidden" id="emojis-container">
                <a href="#">
                    <input type="hidden" value=":)" />
                    <img src="~/Content/emojis/emoji1.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":P" />
                    <img src="~/Content/emojis/emoji2.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":O" />
                    <img src="~/Content/emojis/emoji3.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":-)" />
                    <img src="~/Content/emojis/emoji4.png" />
                </a>
                <a href="#">
                    <input type="hidden" value="B|" />
                    <img src="~/Content/emojis/emoji5.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":D" />
                    <img src="~/Content/emojis/emoji6.png" />
                </a>
                <a href="#">
                    <input type="hidden" value="<3" />
                    <img src="~/Content/emojis/emoji7.png" />
                </a>
            </div>
            <input id="chat-message" type="text" value=""
                   data-bind="value:message, valueUpdate: 'afterkeydown', event: { keypress: onEnter }" placeholder="Upišite poruku ovde..." />
        </div>
    </div>

    <div class="col-md-3 right" style="border-radius: 0px 10px 10px 0px">
        <div class="header" style="background-color: #AF77AE; border-radius:0px 10px 0px 0px">
            <h5>Lista korisnika (<span data-bind="text: filteredChatUsers().length">0</span>)</h5>
        </div>
        <div class="chat-users better-scrollbar">
            <ul id="user-list" data-bind="foreach: filteredChatUsers">
                <li data-bind="click: $parent.joinSingleRoom.bind($parent, $data)">
                    <div class="user-inner" id="unutrasnji">
                        <div class="left-side">
                            <img src="~/Content/icons/avatar1.png" data-bind="attr: { src:$data.avatar }" class="user-avatar" />
                        </div>

                        <div class="right-side">

                            <input type="hidden" class="username" data-bind="value:$data.userName" />
                            <span class="author" id="klik" data-bind="text: $data.displayName"></span>
                            <!-- ko if: $data.Online -->
                            <span class="dot"></span>
                            <!-- /ko -->
                            @*<small data-bind="text: $data.Online"></small>*@
                        </div>

                    </div>
                </li>

            </ul>

        </div>
        <div class="search-user" style="border-radius: 0px 0px 10px 0px">
            <input style="border-radius: 0px 0px 10px 0px" type="text" class="" placeholder="Pretraži nekoga..." data-bind="value: filter, valueUpdate: 'afterkeydown'" />
        </div>
    </div>
</div>
<!-- NAPRAVI SOBU MODAL -->
<div class="modal" id="create-room-modal">
    <div class="modal-dialog" style="width: 70%!important">
        <div class="background-image">
            <div class="modal-content" style="width:80%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: closeRoom">&times;</button>
                    <h4 class="modal-title">Napravi sobu</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="roomName" placeholder="Naziv sobe">
                    <div style=" width: 50%; float: left">
                        <h3>Svi korisnici</h3>
                        <hr style="width: 70%; border-bottom: 2px solid #d9d9d9;" />
                        <div class="list-group" data-bind="foreach: allUsers">
                            <div style="height: 50px;">
                                <p data-bind="text: $data.displayName" style="float:left; width: 60%"></p>
                                <button type="button" class="btn btn-primary" data-bind="click: $parent.addUserToRoom.bind($parent, $data, 'create')">Izaberi</button>
                            </div>
                        </div>
                    </div>
                    <div style=" width: 50%; float: right">
                        <h3>Izabrani korisnici</h3>
                        <hr style="width: 70%; border-bottom: 2px solid #d9d9d9;" />
                        <div class="list-group" data-bind="foreach: userSelected">
                            <div style="height: 45px;">
                                <p data-bind="text: $data.displayName" style="float:left; width: 60%"></p>
                                <button type="button" class="btn btn-primary" data-bind="click: $parent.removeUserSelectedRoom.bind($parent, $data, 'create')">Izbriši</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 300px!important;">
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" data-dismiss="modal" data-bind="click: createRoom">
                                Napravi sobu
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //Dobijanje username-a
    var usrName = "@HttpContext.Current.User.Identity.Name";
    
    $(document).ready(function () {
        
        //Dodavanje funkcije za disablovanje inputa ako soba nije označena
        $('#joinedRoom').on('DOMSubtreeModified', function () {
         
            if ($('#joinedRoom').text() == usrName || $('#joinedRoom').text() == "Početna") {   
                $("#chat-message").prop('disabled', true);
            }
            else {
                $("#chat-message").prop('disabled', false);
                $(".ex1").fadeOut("slow");

            }

        });


        var div = $(".block");
        div.animate({ fontSize: '2em' }, "slow");

        $(function () {
            setTimeout(function () { $(".sakri").remove() }, 3000);
        });

        $('.ex1').textyle({
            duration: 50,
            delay: 50,
            easing: 'linear',
            callback: function () {
                $(this).css({
                    color: 'blue',
                    transition: '1s',
                });
                $('.desc').css('opacity', 1);
            }
        });



    });





</script>